*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between; 
    background: rgba(128, 128, 128, 0.352);
    padding: 20px;     
}
.logo{
    width: 300px;
}
.right-menu{
    display: flex;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-size: 35px;
    padding: 20px;
}


.lang a{
    font-size:35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(110, 109, 109);
    padding: 10px;

}  