.menu-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 350px;
}

.menu-vertical li {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #ddd;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.menu-vertical a {
    padding: 6px 12px;
    background: white;
    border: 1px solid white ;
    border-radius: 10px ;
    text-decoration: none;
    color: black;
}