
body {
    
    background: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;      
    gap:15px;
    
}

.galeria img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
}
