* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #30b8f8;
}
.pricing-container{
    display: flex;
    gap: 20px ;   

}
.card{
    background: white;
   
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    overflow: 30px ;
    flex-direction: column;
    justify-content: space-between;

    
}

.header{
    background: salmon;
    text-align: center;
    color: black;
    font-size: 20px;
    



}

ul{
    list-style: none;
    
    
}
ul li{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

button{
    border: none;
    margin: 20px auto;
    padding: 10px 15px;
    background: rgb(207, 206, 206); 
    border-radius: 5px;
    cursor:pointer;
    font-size: 20px;


}