*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    background: rgb(255, 79, 44);
    padding: 50px;
    text-align: justify;
    display: flex;    
    flex-direction: column;
    align-items: center;    
}
.header p{
    margin-top: 10px;
}

.menu{
    background-color: rgb(23, 255, 158);    
    list-style: none;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-izquierda{
    list-style: none;
    display: flex;
    gap: 80px;
    cursor: pointer;

}
.idiomas{
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.barra-lateral{
    background: gainsboro;
    width: 30%;
    height: 100vh;
    padding: 30px;
    
}

.caja1{
    background: grey;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.contenedor{
    display: flex;
    gap: 20px;
}

.barra-derecha{
    width: 70%;
    padding: 20px;
    margin: 20px;
    
}
.barra-derecha h2{
    margin-bottom: 30px;
    
}
.barra-derecha p{
    font-size: 20px;
    
}
.caja2{
    width: 800px;
    height: 200px;
    background: grey;
    margin: 20px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px;

}

footer{
    background-color: gray;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}
