body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header , footer{
    padding: 20px;
    text-align: center;
    background: rgb(156, 155, 155);
}
main{
    display: flex;
    flex: 1;/*Va abarcar una parte de la pantalla*/
}
nav{
    padding: 20px;
    display: flex;
    flex: 1;
    background: rgb(92, 92, 92);
}
article{
    padding: 20px;
    flex: 2;
    background: rgb(171, 170, 170);
}
aside{
    padding: 20px;

    flex:1;
    background: rgb(92, 92, 92);

}